body {
  background-color: lightsalmon;
}

ul {
  margin: auto;
  margin-left: 30%;
  padding-bottom: 5em;
  font-style: italic;
  font-size: larger;
  text-shadow: 1px 1px grey;
}

li {
  display: inline;
  padding: 2em;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

a :hover {
  text-decoration: none;
  color: inherit;
}

li :hover {
  text-decoration: none;
  color: inherit;
}

header ul li {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.headline {
  font-family: helvetica;
  font-style: italic;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  text-shadow: 1px 1px grey;
}
.parent {
  display: flex;
  margin-left: 15%;
}
img {
  margin-top: 12em;
  margin: auto;
  margin-left: 55em;
  width: 20%;
  height: 1%;
  border-radius: 20px;
  box-shadow: 8px 8px grey;
}
form {
  padding-top: 2em;
  border: solid;
  border-color: white;
  width: 15em;
  height: 10em;
  position: absolute;
  margin: auto;
  margin-top: 12em;
  margin-left: 11em;
}

button {
  margin: auto;
  position: relative;
  margin-top: 4em;
  border-radius: 5px;
  font-family: helvetica;
  font-style: italic;
  margin-left: 3em;
  width: 8em;
  box-shadow: 3px 3px grey;

  background-color: lightblue;
}
#email {
  position: relative;
  padding-bottom: 2em;
  left: 5%;
}

#password {
  position: relative;
  left: 5%;
}
